html, body {
	position: static;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url(../img/howardLibrary.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-filter: grayscale(60%);
}

.main {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 100%;
}

#main {
	z-index: 999;
	text-align: center;
}

#main h2 {
	padding-top: 7%;
	color: aliceblue;
}

#main h3 {
	color: aliceblue;
	padding-bottom: 3%;
}

textarea {
	resize: none;
}

#main-back {
	background: #006688;
    opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 998;
}

.question-block {
	position: absolute;
	font-family: lobster;
	color: aliceblue;
	font-size: 300%;
	left: 0;
	height: 20%;
	width: 100%;
	border: 1px solid grey;
	text-align: center;
}

.question-word {
	position: absolute;
	top: 30%;
	left: 40%;
}

#who {
	top: 0%;
}

#what {
	top: 20%;
}

#when {
	top: 40%;
}

#where {
	top: 60%;
}

#why {
	top: 80%;
}