html, body {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#top {
	position: absolute;
	top: 0;
	height: 20%;
	left: 0;
	width: 100%;
}

#middle {
	position: absolute;
	top: 20%;
	height: 60%;
	left: 0;
	width: 100%;
}

#bottom {
	position: absolute;
	top: 80%;
	height: 20%;
	left: 0;
	width: 100%;
	background-image: url("../img/howardhack1-focal.jpg");
}