html, body {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#logo {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 1;
}

#top {
	position: absolute;
	top: 0;
	height: 20%;
	left: 0;
	width: 100%;
	background: #000080;
	border-bottom: 5px solid #990000;
}

#middle {
	position: absolute;
	top: 20%;
	height: 60%;
	left: 0;
	width: 100%;
}

#bottom {
	position: absolute;
	top: 80%;
	height: 20%;
	left: 0;
	width: 100%;
	border-top: 5px solid #990000;
	background-image: url("../img/howardhack1-focal.jpg");
	background-position: center;
}